# Quantidade de partos por microrregião por localidade

In [1]:
import pandas as pd 
import numpy as np

## Constantes

In [2]:
N_CT_PARTO_NORMAL_1 = "n_ct_parto_normal_1"
N_CT_PARTO_NORMAL_2 = "n_ct_parto_normal_2"
N_CT_PARTO_NORMAL_3 = "n_ct_parto_normal_3"
N_CT_PARTO_NORMAL_4 = "n_ct_parto_normal_4"
N_CT_PARTO_NORMAL_5 = "n_ct_parto_normal_5"
QTDE_PARTO_NORMAL = [N_CT_PARTO_NORMAL_1, N_CT_PARTO_NORMAL_2, N_CT_PARTO_NORMAL_3, N_CT_PARTO_NORMAL_4, N_CT_PARTO_NORMAL_5]

N_CT_PARTO_CESARIA_1 = "n_ct_parto_cesaria_1"
N_CT_PARTO_CESARIA_2 = "n_ct_parto_cesaria_2"
N_CT_PARTO_CESARIA_3 = "n_ct_parto_cesaria_3"
N_CT_PARTO_CESARIA_4 = "n_ct_parto_cesaria_4"
N_CT_PARTO_CESARIA_5 = "n_ct_parto_cesaria_5"
QTDE_PARTO_CESARIA = [N_CT_PARTO_CESARIA_1, N_CT_PARTO_CESARIA_2, N_CT_PARTO_CESARIA_3, N_CT_PARTO_CESARIA_4, N_CT_PARTO_CESARIA_5]

N_TP_OCORRENCIA_HOSPITAL = "n_tp_ocorrencia_1"
N_TP_OCORRENCIA_ESTABELECIMENTO_SAUDE = "n_tp_ocorrencia_2"
N_TP_OCORRENCIA_RESIDENCIA = "n_tp_ocorrencia_3"
N_TP_OCORRENCIA_OUTRO = "n_tp_ocorrencia_4"
LOCAIS_NASCIMENTO = [N_TP_OCORRENCIA_HOSPITAL, N_TP_OCORRENCIA_ESTABELECIMENTO_SAUDE, N_TP_OCORRENCIA_RESIDENCIA, N_TP_OCORRENCIA_OUTRO]

COD_MICROREGIAO = "CO_MICIBGE"
NOME_MICROREGIAO = "nome_microregiao"

## Estados

### Dados AC

In [4]:
dados_ac_df = pd.read_csv(r"C:\\Users\\AlissonSilva\\Downloads\\TPE\\data\\estados\\estados\\Dados-AC.csv")

C:\Users\AlissonSilva\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dados_ac_df.head()

,id,n_tp_ocorrencia,n_co_municipio_ibge_ocorrencia,n_nu_idade,n_tp_estado_civil,n_tp_escolaridade,n_qt_nascidos_vivos,n_qt_nascidos_mortos,n_co_municipio_ibge_residencia,n_tp_gestacao,...,year_death,n_ct_peso,n_ct_idade,n_ct_nascidos_vivos,n_ct_nascidos_mortos,n_ct_gestacao_anterior,n_ct_parto_normal,n_ct_parto_cesaria,n_ct_apgar1,n_ct_apgar5
0,78304AC,1,1200104,38,1,4,0,0,1200104,5,...,NaN,3,6,1,1,1,1,1,2,4
1,78305AC,1,1200104,27,1,2,2,0,1200104,5,...,NaN,3,4,1,1,1,1,1,3,4
2,78306AC,1,1200104,25,1,3,0,0,1200252,5,...,NaN,3,3,1,1,1,1,1,2,3
3,78307AC,1,1200104,23,2,3,2,0,1200104,5,...,NaN,3,3,1,1,1,1,1,3,4
4,78308AC,1,1200104,21,2,4,0,0,1200104,5,...,NaN,3,3,1,1,1,1,1,2,3

In [6]:
dados_ac_df.shape

(153861, 51)

### Dados ES

In [7]:
dados_es_df = pd.read_csv(r"/home/leticia/ifsp/tpe-trabalho-final/data/estados/Dados-ES.csv")

FileNotFoundError: [Errno 2] File b'/home/leticia/ifsp/tpe-trabalho-final/data/estados/Dados-ES.csv' does not exist: b'/home/leticia/ifsp/tpe-trabalho-final/data/estados/Dados-ES.csv'

In [7]:
dados_es_df.head()

,id,n_tp_ocorrencia,n_co_municipio_ibge_ocorrencia,n_nu_idade,n_tp_estado_civil,n_tp_escolaridade,n_qt_nascidos_vivos,n_qt_nascidos_mortos,n_co_municipio_ibge_residencia,n_tp_gestacao,...,year_death,n_ct_peso,n_ct_idade,n_ct_nascidos_vivos,n_ct_nascidos_mortos,n_ct_gestacao_anterior,n_ct_parto_normal,n_ct_parto_cesaria,n_ct_apgar1,n_ct_apgar5
0,276890ES,1,2704302,28,2,4,1,1,3205309,5,...,NaN,3,4,1,1,1,1,1,3,4
1,276891ES,1,3204559,30,2,2,5,1,3204559,5,...,NaN,3,4,2,1,1,1,1,3,4
2,276892ES,1,3204559,17,2,4,0,0,3204559,5,...,NaN,3,2,1,1,1,1,1,3,4
3,276893ES,1,3204559,26,2,3,2,1,3204559,5,...,NaN,3,4,1,1,1,1,1,4,4
4,276894ES,1,3204559,19,2,3,0,0,3201902,5,...,NaN,3,2,1,1,1,1,1,4,4

In [8]:
dados_es_df.shape

(489529, 51)

### Dados RN

In [9]:
dados_rn_df = pd.read_csv(r"/home/leticia/ifsp/tpe-trabalho-final/data/estados/Dados-RN.csv")

In [10]:
dados_rn_df.head()

,id,n_tp_ocorrencia,n_co_municipio_ibge_ocorrencia,n_nu_idade,n_tp_estado_civil,n_tp_escolaridade,n_qt_nascidos_vivos,n_qt_nascidos_mortos,n_co_municipio_ibge_residencia,n_tp_gestacao,...,year_death,n_ct_peso,n_ct_idade,n_ct_nascidos_vivos,n_ct_nascidos_mortos,n_ct_gestacao_anterior,n_ct_parto_normal,n_ct_parto_cesaria,n_ct_apgar1,n_ct_apgar5
0,266147RN,1,2704302,20,1,4,0,1,2414902,5,...,NaN,3,2,1,1,1,1,1,3,4
1,266148RN,1,2708006,26,2,5,1,0,2408508,5,...,NaN,1,4,1,1,1,1,1,3,3
2,266149RN,1,2702306,35,1,3,8,1,2412500,5,...,NaN,3,5,2,1,1,1,1,4,4
3,266151RN,1,2709400,18,1,2,1,0,2414902,5,...,NaN,3,2,1,1,1,1,1,3,3
4,266152RN,2,2701357,22,1,1,2,0,2406155,5,...,NaN,3,3,1,1,1,1,1,3,3

In [11]:
dados_rn_df.shape

(461091, 51)

## Microregiões

Dados de 2006 a 2016

In [11]:
microregioes_2006_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2006.csv")
microregioes_2007_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2007.csv")
microregioes_2008_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2008.csv")
microregioes_2009_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2009.csv")
microregioes_2010_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2010.csv")
microregioes_2011_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2011.csv")
microregioes_2012_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2012.csv")
microregioes_2013_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2013.csv")
microregioes_2014_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2014.csv")
microregioes_2015_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2015.csv")
microregioes_2016_df = pd.read_csv(r"C:/Users/AlissonSilva/Downloads/TPE/data/microregioes/micro_merged_2016.csv")

In [12]:
microregioes_2006_df.head()

,CO_MICIBGE,morte_menor_28d_0,morte_menor_28d_1,n_ct_apgar1_1,n_ct_apgar1_2,n_ct_apgar1_3,n_ct_apgar1_4,n_ct_apgar5_1,n_ct_apgar5_2,n_ct_apgar5_3,...,n_tp_prenatal_3,n_tp_prenatal_4,n_tp_raca_cor_1,n_tp_raca_cor_2,n_tp_raca_cor_3,n_tp_raca_cor_4,n_tp_raca_cor_5,n_tp_raca_cor_mae_1,n_tp_raca_cor_mae_4,mortality_rate
0,24001.0,4367.0,30.0,153.0,591.0,1846.0,1807.0,41.0,183.0,311.0,...,2923.0,1330.0,2400.0,19.0,NaN,1978.0,NaN,NaN,4397.0,6.869705
1,24002.0,709.0,3.0,43.0,95.0,430.0,144.0,5.0,49.0,74.0,...,382.0,291.0,338.0,4.0,2.0,368.0,NaN,NaN,712.0,4.231312
2,24003.0,368.0,1.0,19.0,59.0,194.0,97.0,3.0,21.0,36.0,...,237.0,106.0,203.0,NaN,5.0,161.0,NaN,NaN,369.0,2.717391
3,24004.0,1742.0,6.0,33.0,115.0,1401.0,199.0,7.0,39.0,82.0,...,1194.0,453.0,942.0,20.0,46.0,739.0,1.0,NaN,1748.0,3.444317
4,24005.0,921.0,2.0,11.0,83.0,225.0,604.0,4.0,15.0,58.0,...,323.0,550.0,401.0,30.0,12.0,480.0,NaN,NaN,923.0,2.171553

In [13]:
microregioes_2006_df = microregioes_2006_df.sort_values(by = "CO_MICIBGE")
microregioes_2007_df = microregioes_2007_df.sort_values(by = "CO_MICIBGE")
microregioes_2008_df = microregioes_2008_df.sort_values(by = "CO_MICIBGE")
microregioes_2009_df = microregioes_2009_df.sort_values(by = "CO_MICIBGE")
microregioes_2010_df = microregioes_2010_df.sort_values(by = "CO_MICIBGE")
microregioes_2011_df = microregioes_2011_df.sort_values(by = "CO_MICIBGE")
microregioes_2012_df = microregioes_2012_df.sort_values(by = "CO_MICIBGE")
microregioes_2013_df = microregioes_2013_df.sort_values(by = "CO_MICIBGE")
microregioes_2014_df = microregioes_2014_df.sort_values(by = "CO_MICIBGE")
microregioes_2015_df = microregioes_2015_df.sort_values(by = "CO_MICIBGE")
microregioes_2016_df = microregioes_2016_df.sort_values(by = "CO_MICIBGE")

In [14]:
microregioes_2006_df.head()

,CO_MICIBGE,morte_menor_28d_0,morte_menor_28d_1,n_ct_apgar1_1,n_ct_apgar1_2,n_ct_apgar1_3,n_ct_apgar1_4,n_ct_apgar5_1,n_ct_apgar5_2,n_ct_apgar5_3,...,n_tp_prenatal_3,n_tp_prenatal_4,n_tp_raca_cor_1,n_tp_raca_cor_2,n_tp_raca_cor_3,n_tp_raca_cor_4,n_tp_raca_cor_5,n_tp_raca_cor_mae_1,n_tp_raca_cor_mae_4,mortality_rate
505,11001.0,7401.0,57.0,165.0,1101.0,3809.0,2383.0,29.0,184.0,612.0,...,3235.0,2757.0,2054.0,88.0,11.0,5279.0,26.0,NaN,7458.0,7.701662
506,11002.0,833.0,6.0,19.0,338.0,418.0,64.0,3.0,36.0,253.0,...,317.0,324.0,198.0,15.0,1.0,619.0,6.0,NaN,839.0,7.202881
507,11003.0,2553.0,6.0,26.0,392.0,1464.0,677.0,10.0,83.0,275.0,...,1443.0,777.0,856.0,18.0,6.0,1679.0,NaN,NaN,2559.0,2.350176
508,11004.0,3752.0,12.0,62.0,436.0,1315.0,1951.0,25.0,89.0,256.0,...,2283.0,1086.0,1700.0,27.0,16.0,1991.0,30.0,NaN,3764.0,3.198294
509,11005.0,1053.0,9.0,45.0,333.0,597.0,87.0,7.0,38.0,182.0,...,590.0,408.0,596.0,27.0,2.0,435.0,2.0,NaN,1062.0,8.547009

### Códigos das Microregiões

In [15]:
microregioes_ibge_df = pd.read_csv(r"/home/leticia/ifsp/tpe-trabalho-final/data/microregioes/microregioes_ibge.csv", encoding = "ISO-8859-1")

FileNotFoundError: [Errno 2] File b'/home/leticia/ifsp/tpe-trabalho-final/data/microregioes/microregioes_ibge.csv' does not exist: b'/home/leticia/ifsp/tpe-trabalho-final/data/microregioes/microregioes_ibge.csv'

In [17]:
microregioes_ibge_df = microregioes_ibge_df.sort_values(by = "Micro")

In [18]:
microregioes_ibge_df.head()

   Micro              Nome
0  11001       Porto Velho
1  11002     Guajará-Mirim
2  11003         Ariquemes
3  11004         Ji-Paraná
4  11005  Alvorada D'Oeste

Inclusão do nome da microregião nos dataframes de dados

In [19]:
microregioes_2006_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2007_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2008_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2009_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2010_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2011_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2012_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2013_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2014_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2015_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values
microregioes_2016_df['nome_microregiao'] = microregioes_ibge_df['Nome'].values

microregioes_2006_df.head()

,CO_MICIBGE,morte_menor_28d_0,morte_menor_28d_1,n_ct_apgar1_1,n_ct_apgar1_2,n_ct_apgar1_3,n_ct_apgar1_4,n_ct_apgar5_1,n_ct_apgar5_2,n_ct_apgar5_3,...,n_tp_prenatal_4,n_tp_raca_cor_1,n_tp_raca_cor_2,n_tp_raca_cor_3,n_tp_raca_cor_4,n_tp_raca_cor_5,n_tp_raca_cor_mae_1,n_tp_raca_cor_mae_4,mortality_rate,nome_microregiao
505,11001.0,7401.0,57.0,165.0,1101.0,3809.0,2383.0,29.0,184.0,612.0,...,2757.0,2054.0,88.0,11.0,5279.0,26.0,NaN,7458.0,7.701662,Porto Velho
506,11002.0,833.0,6.0,19.0,338.0,418.0,64.0,3.0,36.0,253.0,...,324.0,198.0,15.0,1.0,619.0,6.0,NaN,839.0,7.202881,Guajará-Mirim
507,11003.0,2553.0,6.0,26.0,392.0,1464.0,677.0,10.0,83.0,275.0,...,777.0,856.0,18.0,6.0,1679.0,NaN,NaN,2559.0,2.350176,Ariquemes
508,11004.0,3752.0,12.0,62.0,436.0,1315.0,1951.0,25.0,89.0,256.0,...,1086.0,1700.0,27.0,16.0,1991.0,30.0,NaN,3764.0,3.198294,Ji-Paraná
509,11005.0,1053.0,9.0,45.0,333.0,597.0,87.0,7.0,38.0,182.0,...,408.0,596.0,27.0,2.0,435.0,2.0,NaN,1062.0,8.547009,Alvorada D'Oeste

In [20]:
qtde_partos_microregioes_2006_df = microregioes_2006_df.loc[:, microregioes_2006_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2007_df = microregioes_2007_df.loc[:, microregioes_2007_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2008_df = microregioes_2008_df.loc[:, microregioes_2008_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2009_df = microregioes_2009_df.loc[:, microregioes_2009_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2010_df = microregioes_2010_df.loc[:, microregioes_2010_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2011_df = microregioes_2011_df.loc[:, microregioes_2011_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2012_df = microregioes_2012_df.loc[:, microregioes_2012_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2013_df = microregioes_2013_df.loc[:, microregioes_2013_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2014_df = microregioes_2014_df.loc[:, microregioes_2014_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2015_df = microregioes_2015_df.loc[:, microregioes_2015_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]
qtde_partos_microregioes_2016_df = microregioes_2016_df.loc[:, microregioes_2016_df.columns.isin(QTDE_PARTO_CESARIA + QTDE_PARTO_NORMAL + LOCAIS_NASCIMENTO + [COD_MICROREGIAO, NOME_MICROREGIAO])]

In [21]:
qtde_partos_microregioes_2006_df.head()

,CO_MICIBGE,n_ct_parto_cesaria_1,n_ct_parto_normal_1,n_tp_ocorrencia_1,n_tp_ocorrencia_2,n_tp_ocorrencia_3,n_tp_ocorrencia_4,nome_microregiao
505,11001.0,7458,7458,7107.0,330.0,13.0,8.0,Porto Velho
506,11002.0,839,839,827.0,10.0,1.0,1.0,Guajará-Mirim
507,11003.0,2559,2559,2548.0,7.0,3.0,1.0,Ariquemes
508,11004.0,3764,3764,3737.0,20.0,7.0,NaN,Ji-Paraná
509,11005.0,1062,1062,1060.0,1.0,1.0,NaN,Alvorada D'Oeste